<header>
  <nav class="bg-gradient-to-r from-cyan-500 to-indigo-500 rounded px-4 lg:px-6 py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <div class="flex flew-row">
        <%= link_to image_tag('ruby_blob.png', {class: "mr-3 h-6 sm:h-9"}), messages_url %>
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
          Yet Another Microblog
        </span>
      </div>
      <div class="flex items-center lg:order-2">
        <%= render 'layouts/logged_in_as' %>
      </div>
    </div>
  </nav>
</header>
