<% if current_user %>
  <div class="flex flex-row">
    <div class="p-1">
      Logged in as
      <%= link_to current_user.email, profile_user_path(current_user) %>
    </div>
    <div class="p-1">
      <%= link_to 'Log out', destroy_user_session_path,
        data: { turbo_method: :delete },
        class: 'header-btn'
      %>
    </div>
  </div>
<% else %>
  <%= link_to 'Log in', new_user_session_path, class: 'header-btn' %>
<% end %>
