@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 m-2 rounded-full;
    cursor: pointer;
  }
  .btn-sky {
    @apply bg-sky-500 text-white;
  }
  .btn-sky:hover {
    @apply bg-sky-700;
  }
  .btn-green {
    @apply bg-green-500 text-white;
  }
  .btn-green:hover {
    @apply bg-green-700;
  }
  .header-btn {
    @apply text-gray-800 dark:text-white hover:bg-gray-50
           focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm
           px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700
           focus:outline-none dark:focus:ring-gray-800
  }
}
