<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Add new message', style: "display: block" %>
    <%= form.text_area :text, rows: "8", class: "w-full", id: 'message_text' %>
    <!-- alternative input definition via plain HTML: -->
    <!--textarea id="message_text" name="message[text]" cols="64" rows="4">
      <%#= message.text %>
    </textarea-->
  </div>

  <div>
    <%= form.submit class: 'btn btn-green' %>
  </div>
<% end %>
