<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <div class="py-2">
      <%= form.label 'Name' %>
      <%= form.text_field :name, id: 'user_name' %>
    </div>
    <div class="py-2">
      <%= form.label 'Profile picture' %>
      <% if user.profile_pic.attached? %>
        <%= image_tag url_for(user.profile_pic.variant(resize_to_limit: [50, 50])) %>
      <% end %>
      <%= form.file_field :profile_pic, id: 'profile_pic' %>
    </div>
  </div>

  <div>
    <%= form.submit class: 'btn btn-green' %>
  </div>
<% end %>
